body{
    background-color: rgb(64,62,64);
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.bg-img {
    background-image: url("HocADoo/Tesla\ thundercloud\ wallpaper.gif");
    width: 100%;
    height: 66.67vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.center-message{
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    top: 30%;
    font-size: 60px;
    font-family: cursive;
}
.divider{
    border-top: 8px solid #bbb;
    border-radius: 5px;
    margin: 100px 100px 100px 100px;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;   
}
.button:hover{
    background-color: #000000;
    color:#ffffff
}
/*Projects header----------------------------------------------------*/
.Projects h1{
    font-size: 60px;
    text-align: center;
    color:white;
    margin-bottom: -90px;
    

}
/*intro page body 1----------------------------------------------------*/
.Author {
    display: flex;
    margin: 40px 40px 100px 40px;
    transition: margin 1s ease;
}
.Author .text, .image1{
    vertical-align: top;
    text-align: center;
}
.text{
    margin-top: 10px;
    color:white;
    transition: margin 1s ease;
}
.image1{
    max-width:60%;
    height: auto;
}
.Author p{
    font-size: 22px;
    vertical-align: top;
}
.Author h1{
    color:white;
    margin-top: 100px;
}
.Author img{
    max-width: 85%;
    height: auto;
}
.Author a{
    color: beige;
}
/*livestream page body 2----------------------------------------------------*/
.Farm_Camera {
    padding:0px 240px 0px 240px;
    max-width: 1300px;
    
    margin: 0 auto;
}
.Farm_Camera .left-side{
    flex: 0 0 55%;
    padding: 20px; 
    /*border: 1px solid #ccc; */
}
.Farm_Camera .left-side p{
    margin: 0px;
}
.Farm_Camera .right-side{
    flex: 0 0 39%;
    padding: 20px; 
    /*border: 1px solid #ccc; */
}
.Farm_Camera .right-side img{
    width: 680px;
    height: auto;
}

.Farm_Camera p{
    font-size: 22px;
    vertical-align: top;
    color: white;
}
.Farm_Camera h1{
    color: white;
}
.Farm_Camera a{
    color: beige;
}
.Farm_Camera ul{
    margin:0px;
}
.Farm_Camera li{
    color: white;
}

/*ResearchAssist page body 2----------------------------------------------------*/
.ResearchAssist{
    padding:0px 80px 0px 80px;
    max-width: 1300px;
    
    margin: 0 auto;
    
}
.ResearchAssist .left-side {
    flex: 0 0 39%;
    padding: 20px; 
    /*border: 1px solid #ccc; */
}
.ResearchAssist .left-side .picture{
    text-align: center;
    margin-bottom: 50px;
}
.ResearchAssist .left-side .alexa img{
    width:150px;
    height: auto;   
}
.ResearchAssist .left-side .curtain img{
    width:500px;
    height: auto;
}

.ResearchAssist .right-side {
    flex: 0 0 55%;
    padding: 20px; 
    color: white; 
    /*border: 1px solid #ccc; */
}
.ResearchAssist .right-side ul{
    margin: 0;
}
.ResearchAssist .right-side p{
    margin: 0; 
    font-size: 22px;
}


/*3D-Printing-----------------------------------------------------------------*/
.ThreeDPrinting{
    padding:0px 80px 0px 80px;
    max-width: 1300px;
    margin: 0 auto;
}
.ThreeDPrinting .left-side {
    flex: 0 0 39%;
    padding: 20px; 
    /*border: 1px solid #ccc; */
}
.ThreeDPrinting .left-side .spear img{
    width:300px;
    height: auto;
    margin:auto;
    display:block;
    margin-bottom:20px;
    
}
.ThreeDPrinting .left-side .bottom img{
    width:auto;
    height: 200px;

}
@media(max-width: 1400px) {
    .ThreeDPrinting .left-side .bottom img {
        width:auto;
        height: 200px;   
        margin:auto;
        display:block;
        margin-bottom: 10px;
    }
}

.ThreeDPrinting .right-side {
    flex: 0 0 55%;
    padding: 20px; 
    color: white; 
    /*border: 1px solid #ccc; */
}
.ThreeDPrinting .right-side ul{
    margin: 0;
}
.ThreeDPrinting .right-side p{
    margin: 0; 
    font-size: 22px;
}
.Blender_3D-prints h1{
    color:white;
    margin-top: 30px;
    text-align: center;
}
/*Arduino Banner--------------------------------------------------------------*/
.Arduino{
    padding:0px 80px 0px 80px;
    max-width: 1300px;
    margin: 0 auto;
    
}
.Arduino .left-side {
    flex: 0 0 39%;
    padding: 20px; 
    /*border: 1px solid #ccc; */
}
.Arduino .left-side .top{
    text-align: center;
    margin-bottom: 30px;
}
.Arduino .left-side .top img{
    width:auto;
    height: 215px;   
}
.Arduino .left-side .curtain img{
    width:500px;
    height: auto;
}

.Arduino .right-side {
    flex: 0 0 55%;
    padding: 20px; 
    color: white; 
    /*border: 1px solid #ccc; */
}
.Arduino .right-side ul{
    margin: 0;
}
.Arduino .right-side p{
    margin: 0; 
    font-size: 22px;
}

/*biking page----------------------------------------------------*/
.biking {
    padding: 0 80px;
    max-width: 1300px;
    margin: 0 auto;
    
  }
  
  .biking .text {
    text-align: center;
  }
  
  .biking p {
    margin: 0; 
    font-size: 22px;
  }
  
  .biking .movie {
    display: block;
    width: 100%;
    margin-top: 20px; /* Add some space between text and video */
  }

/*footer-------------------------------------------------------------------------*/
footer{
    text-align: center;
    font-size: 17px;
    padding: 10px;
    
    background-color: rgb(46,41,58);
    font-family: 'Courier New', Courier, monospace;
    /*border: 1px solid #ccc; */
}
footer p{
    color: white;
}
footer a{
    color:beige;
}
/*hidden text*/
.hidden {
    display: none;
}
/*padding: top right bottom left*/









.scroller {
    max-width: 5000px;
}
  
.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
  
.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
  
.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 60s)
      var(--_animation-direction, forwards) linear infinite;
}
  
.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}
  
.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}
  
.scroller[data-speed="fast"] {
    --_animation-duration: 10s;
}
  
.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}
  
@keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
}
  

  

  


